@model EntityframeworkDotnet.Context.Food

@{
    ViewBag.Title = "AddFood";
    List<SelectListItem> size = new List<SelectListItem>();
    size.Add(new SelectListItem() { Text = "Small", Value = "small" });
    size.Add(new SelectListItem() { Text = "Medium", Value = "medium" });
    size.Add(new SelectListItem() { Text = "Large", Value = "large" });
}

<style>
    .error {
        color: red;
    }
</style>
<h2>AddFood</h2>

@using (Html.BeginForm("AddFood", "Food", FormMethod.Post))
{
    <div class="container">

        @Html.Hidden("id",Model.id, new { @Name= "fmodel.id"})
       
        <div class="form-group">
            <label>Name</label>
            @Html.ValidationMessageFor(x => x.name, "", new { @class = "error" })
           @* @Html.TextBoxFor(x => x.name, new { @class = "form-control" })*@
            @Html.TextBox("name",Model.name,new { @class="form-control", @Name = "fmodel.name" })
        </div>

        <div class="form-group">
            <label>Catagory</label>
            @Html.DropDownList("category",null, "Select", new { @class = "form-control",@Name= "fmodel.catagory_id" })

        </div>

        <div id="size">
            @if (Model != null && Model.sizes.Count() != 0)
            {

                var i = 0;
                //for (int i = 0; i < ViewBag.n; i++)
                foreach (var sizedata in Model.sizes)
                {
                    <div class="form-group">
                    @if (sizedata.isDeleted == false)
                    {
                        <div class="form-inline" id="currentsize">
                            <div class="form-group">
                                <input type="hidden" name="fmodel.sizes.index" value="@i" />
                                <label>Size</label>
                                <select name="fmodel.sizes[@i].size1" class="form-control">
                                    <option value="small" @(sizedata.size1)> Small</option>
                                    <option value="medium" @(sizedata.size1)>Medium</option>
                                    <option value="large" @(sizedata.size1)>Large</option>
                                </select>
                            </div>
                            <div class="form-group">
                                 <label>Price</label>
                                 <input type="text" name="fmodel.sizes[@i].price" class="form-control" value="@sizedata.price" />
                            </div>
                            <input type="button" value="Remove" name="btnremove" id="btnremove" class="btn btn-danger" />
                        </div>

                            i = i + 1;
                            }
                    </div>
                }

            }

        </div>


        <div class="form-group">
            <button type="submit" class="btn btn-primary">submit</button>
            @* <button class="btn btn-primary" id="append" name="append">More Size</button>*@
            <input type="button" value="Add Size" name="append" id="append" class="btn" />
        </div>
    </div>
}

@section scripts
{
    <script type="text/javascript">
        var i = @(Model == null ? 0 : Model.sizes.Count());
        jQuery(document).ready(function () {
            $("#append").click(function () {
                $("#size").append('<div class="form-group">\
                                      <div  class= "form-inline">\
                                        <div class="form-group">\
                                            <input type="hidden" name="fmodel.sizes.index" value="'+ i + '"/>\
                                            <label>Size</label>\
                                            <select name="fmodel.sizes['+ i + '].size1" class = "form-control">\
                                                <option value = "small" > Small</option >\
                                                <option value="medium">Medium</option>\
                                                <option value="large">Large</option>\
                                            </select >\
                                        </div>\
                                    <div class="form-group">\
                                        <label>Price</label>\
                                        <input type="text" name="fmodel.sizes['+ i + '].price" class = "form-control"/>\
                                    </div<\
                                    </div>\
                                 </div>'
                );
                
                i++;
                return false;
            });

            $('body').on('click', '#btnremove', function () {
                $(this).parent('div#currentsize').remove()

            });
        });
    </script>
}