@model EntityframeworkDotnet.Context.size

@{
    ViewBag.Title = "AddFood";
    List<SelectListItem> size = new List<SelectListItem>();
    size.Add(new SelectListItem() { Text = "Small", Value = "small" });
    size.Add(new SelectListItem() { Text = "Medium", Value = "medium" });
    size.Add(new SelectListItem() { Text = "Large", Value = "large" });
}

<style>
    .error {
        color: red;
    }
</style>
<h2>AddFood</h2>

@using (Html.BeginForm("AddFood", "Food", FormMethod.Post))
{
    <div class="container">

        @Html.HiddenFor(x => x.id)
        @Html.HiddenFor(x => x.food_id)

        <div class="form-group">
            <label>Name</label>
            @Html.ValidationMessageFor(x => x.Food.name, "", new { @class = "error" })
            @Html.TextBoxFor(x => x.Food.name, new { @class = "form-control" })
        </div>

        <div class="form-group">
            <label>Catagory</label>
            @Html.DropDownListFor(x => x.Food.catagory_id, ViewBag.category as SelectList, new { @class = "form-control" })

        </div>

        <div id="size">
            <div class="form-group">
                <label>Size</label>
                @Html.DropDownListFor(x => x.size1, size, "---Select Size---", new { @class = "form-control" })
            </div>

            <div class="form-group">
                <label>Price</label>
                @Html.ValidationMessageFor(x => x.price, "", new { @class = "error" })
                @Html.TextBoxFor(x => x.price, new { @class = "form-control" })

            </div>
        </div>


        <div class="form-group">
            <button type="submit" class="btn btn-primary">submit</button>
            @* <button class="btn btn-primary" id="append" name="append">More Size</button>*@
            <input type="button" value="More Size" name="append" id="append" class="btn" />
        </div>
    </div>
}

@section scripts
{
    <script type="text/javascript">
        var i = 1;
        jQuery(document).ready(function () {
            $("#append").click(function () {
                $("#size").append('<div class="form-group">\
                                    <label>Size</label>\
                                    <select name="size'+i+'" class = "form-control">\
                                        <option value = "small" > Small</option >\
                                        <option value="medium">Medium</option>\
                                        <option value="large">Large</option>\
                                    </select >\
                                </div>\
                                <div class="form-group">\
                                    <label>Price</label>\
                                    <input type="text" name="price'+i+'" class = "form-control"/>\
                                 </div>'
                );
                i++;
                return false;
            });

            jQuery('.remove_this').live('click', function () {
                jQuery(this).parent().remove();
                return false;
            });
        });
    </script>
}