@model List<EntityframeworkDotnet.Context.Food>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table table-hover">
    <tr>
        <th>Name</th>
        <th>Catagory</th>
        <th>Size</th>
        <th>Price</th>
        <th>Action</th>
    </tr>

    @foreach(var iteam in Model)
    {
        <tr>
            <td>@iteam.name</td>
            <td>@iteam.category.catagory_name</td>
            <td>
                <ol>
                    @foreach (var size in iteam.sizes)
                    {
                        if (size.size1 != null || size.size1 != "")
                        {
                            <li>@size.size1</li>
                        }
                    }
                </ol>
            
            </td>
            <td>
                <ol>
                    @foreach (var size in iteam.sizes)
                    {
                        <li>@size.price</li>
                    }
                </ol>
            </td>
           
            <td>
                <a href="@Url.Action("Food",new {foodid=iteam.id})" class="btn btn-success">Edit</a>
                <a href="@Url.Action("Delete",new { @foodid=iteam.id})" class="btn btn-danger">Delete</a>
            </td>
        </tr>
    }
</table>

